.root {
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 0 5px #ccc;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    padding: 1rem 3rem;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.title {
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: 800;
    color: #004191;
    cursor: default;
    user-select: none;
}

@media (max-width: 1200px) {
    .root {
        justify-content: center;
    }

    .title {
        display: none;
    }
}